<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-header animated bounceIn">
            <!-- <a href="{{ .Site.BaseURL }}">{{ .Site.Title }} Yo!Desktop</a> -->
            <a href="{{ .Site.BaseURL }}">
                <svg class="logofakx" viewBox="0 0 107.83 107.82">
                    <path d="M79.37.32l28 28-24.26 24.21 24.72 24.72-30.58 30.6L52.53 83.1 28.3 107.33l-28-28 24.26-24.2L0 30.57 30.58 0l24.55 24.56z" fill="#c00000"></path>
                </svg>
            </a>
        </div>
        <div class="navbar-menu">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                <a class="menu-item{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) | or (eq $currentPage.RelPermalink .URL) }} active{{ end }}" href="{{ .URL | absLangURL }}" title="{{ .Title }}">{{ .Name | safeHTML }}</a>
            {{ end }}
            <a href="javascript:void(0);" class="theme-switch"><i class="fas fa-adjust fa-rotate-180 fa-fw"></i></a>
        </div>
    </div>
</nav>
<nav class="navbar-mobile">
     <div class="navbar-container">
        <div class="navbar-header">
            <div class="navbar-header-title animated bounceIn">
                <!-- <a href="{{.Site.BaseURL}}">{{ .Site.Title }} Yo!Mobile</a> -->
                <a href="{{ .Site.BaseURL }}">
                    <svg class="logofakx" viewBox="0 0 107.83 107.82">
                        <path d="M79.37.32l28 28-24.26 24.21 24.72 24.72-30.58 30.6L52.53 83.1 28.3 107.33l-28-28 24.26-24.2L0 30.57 30.58 0l24.55 24.56z" fill="#c00000"></path>
                    </svg>
                </a>
            </div>
            <div class="menu-toggle" id="menu-toggle">
                <span></span><span></span><span></span>
            </div>
        </div>
        <div class="navbar-menu" id="mobile-menu">
            {{ $currentPage := . }}
            {{ range .Site.Menus.main }}
                <a class="menu-item" href="{{ .URL | absLangURL }}" title="{{ .Title }}">{{ .Name | safeHTML }}</a>
            {{ end }}
            <a href="javascript:void(0);" class="theme-switch"><i class="fas fa-adjust fa-rotate-180 fa-fw"></i></a>
        </div>
    </div>
</nav>